<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-sm-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("Invoices")}}</span>
                </h3>
            </div>
            <div class="col-sm-6 text-right">
                <button *ngIf="isGranted('Pages.LEDES98BInvoice.Upload')" class="btn btn-primary" (click)="uploadLedesModal.show()">
                    <i class="fa fa-plus"></i> {{l("UploadLEDESFile")}}
                </button>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <form autocomplete="off">
                    <div class="m-form m-form--label-align-right">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-xl-12">
                                <div class="row form-group m-form__group align-items-center">
                                    <div class="col-md-6 form-group">
                                        <select name="selectedMatter" class="form-control" [(ngModel)]="selectedMatter"
                                            (change)="getLEDES()">
                                            <option [value]="-1">{{l('All matters')}}</option>
                                            <option *ngFor="let matter of matters" [value]="matter.id">{{matter.clientMatterName}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 input-group form-group">
                                        <input [(ngModel)]="filter" name="filterText" autoFocus class="form-control m-input"
                                            [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getLEDES()" class="btn btn-primary" type="submit">
                                                <i class="flaticon-search-1"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="row form-group m-form__group align-items-center">

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable (onLazyLoad)="getLEDES($event)" [value]="primengTableHelper.records" rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                            [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.Timekeeper.Add','Pages.Matter.Delete','Pages.Matter.Edit')">{{l('Actions')}}</th>
                                    <th style="width: 150px" *ngFor="let column of columns" pSortableColumn="{{column.field}}">
                                        {{l(column.header)}}
                                        <p-sortIcon field="{{column.field}}"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px" [hidden]="!isGrantedAny('Pages.MatterTimekeeper','Pages.LEDES98BInvoice.Delete','Pages.Matter.Edit')">
                                        <button class="btn btn-outline-primary m-btn m-btn--icon m-btn--icon-only m-btn--pill"
                                            title="{{l('Invoice Revisions')}}" (click)="invoiceRevision(record.id)">
                                            <i class="fa fa-copy"></i>
                                        </button>
                                        <button *ngIf="isGranted('Pages.LEDES98BInvoice.Delete')" name="delete" id="delete"
                                            (click)="deleteLEDES(record)" title="{{l('Delete Invoice')}}" class="btn btn-outline-danger m-btn m-btn--icon m-btn--icon-only m-btn--pill">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </td>
                                    <td *ngFor="let column of columns" style="width: 150px">
                                        <span *ngIf="column.field!='matterId' && column.field!='revisionStatus'">
                                            <span class="ui-column-title"> {{l(column.header)}}</span>
                                            {{
                                            column.field == 'creationTime' ? (record[column.field] | date:'medium') :
                                            record[column.field]
                                            }}
                                        </span>
                                        <!-- for matter -->
                                        <span *ngIf="column.field=='matterId'">
                                            <span class="ui-column-title"> {{l(column.header)}}</span>
                                            {{getMatterName(record[column.field])}}
                                        </span>
                                        <span *ngIf="column.field=='revisionStatus'">
                                            <span class="ui-column-title">{{l(column.header)}}</span>
                                            <span class="m-badge {{statusClass[record[column.field]]}} m-badge--wide">{{record['revisionStatus']}}</span>
                                        </span>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                                (onPageChange)="getLEDES($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>
            </div>
        </div>
    </div>
    <uploadLedesFileModal #uploadLedesModal (modalSave)="getLEDES()"></uploadLedesFileModal>
</div>
